# Created by Vercel CLI
DATABASE_URL= 
POSTGRES_URL= 
PRISMA_DATABASE_URL=
VERCEL_OIDC_TOKEN=



# --- GOOGLE OAUTH CONFIG --- 
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

#  Google Client ID for OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET= 


# --- APP CONFIG ---
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"