# Created by Vercel CLI
DATABASE_URL= 
POSTGRES_URL= 
PRISMA_DATABASE_URL=
VERCEL_OIDC_TOKEN=



# --- GOOGLE OAUTH CONFIG --- 
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

#  Google Client ID for OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET= 


# --- APP CONFIG ---
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


//AWS
AWS_ACCESS_KEY_ID=AKIA... (from AWS)
AWS_SECRET_ACCESS_KEY=your_very_long_secret_key
AWS_REGION=us-east-1 (or whichever region you chose for your bucket)
AWS_S3_BUCKET_NAME=your-bucket-name


//Stripe
# Stripe API Keys
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""


